@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&display=swap');
.container-2 {
    padding-right: 2px;
    padding-left: 2px;
    background-color: #151515;
    margin-left: auto;
    margin-right: auto;
    max-width: 728px;
    flex-direction: column;
}

.titulo{
    margin-top: 0px;
    font-family: Montserrat, sans-serif;
    color: #9a8154;
    font-weight: 800;
    text-align: right;
    font-size:54px;
    font-weight:bold;
}

.titulo2{
    margin-top: 35px;
    font-family: Montserrat, sans-serif;
    color: #9a8154;
    font-weight: 800;
    text-align: right;
    font-size:54px;
    font-weight:bold;
}

.about{
    position: static;
    display: inline-block;
    margin-top: 10px;
    margin-right: 2px;
    margin-left: 2px;
    clear: right;
    -webkit-box-pack: start;
    justify-content: flex-start;
    font-family: Inconsolata, monospace;
    color: #878787;
    font-size: 16px;
    text-align: justify;
    letter-spacing: normal;
    font-weight:bold;
}

.seccionB{
    display: flex;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    clear: both;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 10px;
}

.buttonsa{
    width: 110px;
    max-width: none;
    margin-right: 5px;
    border-radius: 8px;
    background-color: #262626;
    font-family: Inconsolata, monospace;
    text-align: center;
    display: inline-block;
    padding: 9px 15px;
    color: white;
    border: 0;
    line-height: inherit;
    text-decoration: none;
    font-weight:bold;
    padding-top: 9PX;
    padding-bottom: 9px;
}

.buttonu{
    width: 110px;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 8px;
    background-color: #262626;
    font-family: Inconsolata, monospace;
    text-align: center;
    display: inline-block;
    padding: 9px 15px;
    color: white;
    border: 0;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
    font-weight:bold;
}

.section-5{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 50px;
    margin: 10px auto 24px 128px;
    clear: both;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-left: 5px;
}

.section-6{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 50px;
    max-width: 350px;
    margin: 10px auto 24px 230px;
    clear: both;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-left: 5px;
}

.image-4{
    position: absolute;
}

.textoP{
    font-family: Inconsolata, monospace;
    text-align: center;
    display: center;
    color: "#818080";
    font-size: 16px;
    letter-spacing: 7px;
    margin-left: 80px;
    padding-bottom: 25px;
}