@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
.section{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #151515;
    color: #000;
}

.grid{
    display: center;
    margin-right: 15px;
    margin-left: 15px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    justify-items: end;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: end;
    -ms-flex-line-pack: end;
    align-content: end;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    text-align: justify;
}

.imagesC{
    margin-right: 20px;
}

.nombre{
    font-family: Montserrat, sans-serif;
    transform: rotate(270deg);
    position: absolute;
    left: -100px;
    top: 160px;
    height: 20px;
    width: 380px;
    line-height: 20px;
    margin-top: 40px;
    font-size: 36px;
    color: #9a8154;
    letter-spacing: 5px;
    font-weight:bold;
    text-align: left;
}

.linea{
    -webkit-transition: 1.5s all cubic-bezier(0.23, 1, 0.32, 1);
    -moz-transition: 1.5s all cubic-bezier(0.23, 1, 0.32, 1);
    -ms-transition: 1.5s all cubic-bezier(0.23, 1, 0.32, 1);
    -o-transition: 1.5s all cubic-bezier(0.23, 1, 0.32, 1);
    transition: 1.5s all cubic-bezier(0.23, 1, 0.32, 1);
    -webkit-transition-delay: 0.5s;
    -moz-transition-delay: 0.5s;
    -ms-transition-delay: 0.5s;
    -o-transition-delay: 0.5s;
    transition-delay: 0.5s;
    background: rgb(154 129 84);
    position: absolute;
    left: 82px;
    top: 420px;
    width: 2px;
    height: 1400px;
    z-index: 10;
}

.textoD{
    font-family: Inconsolata, monospace;
    text-align: right;
    display: center;
    color: #818080;
    font-size: 16px;
    letter-spacing: 4px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight:bold;
    display: inline-block;
}

.textol{
    font-family: Inconsolata, monospace;
    text-align: right;
    display: center;
    color: #818080;
    font-size: 25px;
    letter-spacing: 4px;
    font-weight:bold;
    display: inline-block;
    margin: 6px;
}

.container-7 {
    padding-right: 2px;
    padding-left: 2px;
    background-color: #151515;
    margin-left: auto;
    margin-right: auto;
    max-width: 728px;
    flex-direction: column;
    margin-top: 15px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
  }